:root {
    --light: white;
    --dark: black;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin: auto;
    padding: 1em;
}
h1, h2, h3 {
    padding-bottom: .5em;
}

form, textarea {
    width: 98%;
}

select {
    margin-left: 1em;
    width: 95%;
}
input, select, button {
    font-size: inherit;
    padding: 0.25em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}
label {
    font-size: inherit;
    display: block;
    margin-bottom: 0.25em;
    padding-left: 1em;
}

input {
    
    width: 95%;
    margin-left: 1em;

}

fieldset {
    width: 100%;
    margin: 1.5em 0.5em ;
}

legend {
    font-weight: bolder;
    color: black;
    font-size: x-large; 
    padding-left: .5em;
    margin-bottom: .5em;
}

textarea {
    
    width: 95%;
    padding: .5em;
    margin-left: 1em;
    height: 8em;
    font-family: inherit;
    font-size: inherit;
    
}

.button-style {
    height: 2.5em;
    width: 10em;
    cursor: pointer;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: inherit;
    padding: .5em;
    border-radius: 5px;
    &:hover {
        color: black;
        background-color: white;
    }
}

.submit-button { background-color: green;}
.reset-button {background-color: red;}

input:required {
    border: 2px solid red;
}
input:valid {
    border: 2px solid black
}

